
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Carrito</title>
<script type="text/javascript" src="./src/main/java/Scripts/Scripts.js"></script>
</head>
<body>
	<header th:replace="Constante/constantes :: header"></header>
	<fieldset>
		<legend>Carrito</legend>
		<table border="2px">
			<tr>
				<td>Id</td>
				<td>Descripcion</td>
				<td>Cantidad</td>
				<td>Precio</td>
				<td></td>
			</tr>
			<tr th:each="producto : ${session.carrito}">
				<td th:text="${producto.id}"></td>
				<td th:text="${producto.descripcion}"></td>
				<td th:text="${producto.cantidad}"></td>
				<td th:with="total = ${(producto.precio+(producto.precio*producto.impuesto))}" th:text="${total}"></td>
				<td><a
					th:href="@{/carrito/eliminar/{id}(id=${producto.id})" onclick="">Remove</a></td>
			</tr>
			<tr>
				<td>Total:</td>
				<td th:text="${total}"></td>
				<td></td>
				<!--Paso el total al servlet-->
				<td><a th:href="@{/usuario/comprar(total=${total})}">Comprar</a></td>
			</tr>
		</table>
		<a th:href="Productos">Seguir comprando</a>
	</fieldset>
	<footer th:replace="Constante/constantes :: footer"></footer>
</body>
</html>