<!DOCTYPE html>
<html>
<head>
<div  th:include="Constante/constantes :: head"></div>
<title>Productos</title>
<meta charset="UTF-8">
</head>
<body>
	<header th:replace="Constante/constantes :: header"></header>
	<h2 th.text="'Hola ' ${session.usuario.nombre}"></h2>
	<fieldset>
		<legend>Catálogo</legend>
		<table border="2px">
			<tr>
				<td>Id</td>
				<td>Descripcion</td>
				<td>Stock</td>
				<td>Precio</td>
				<td>Cantidad_Añadir</td>
				<td></td>
			</tr>
			<tr th:each="productos : ${listaProductos}">
				<td th:text="${productos.id}"></td>
				<td th:text="${productos.descripcion}"></td>
				<td th:text="${productos.stock}"></td>
				<td th:text="${productos.id}"></td>
				<td><input type="number" max="stock" value="1"
					th:name="${productos.id}" th:id="'cantidad' + ${productos.id}"
					></td>
<!-- 					onchange="ponerCantidad(this.value,this.name)" -->
				<td><a
					th:onclick="'ponerCantidad(' + ${productos.id} +', this)'"
					th:href="@{/carrito/aniadir}"
					id="">Add</a></td>
<!-- 										th:href="@{/carrito/aniadir/} + ${productos.id}(cantidad=${1})" -->
					
			</tr>
		</table>
		<a href="carrito">Ir al carrito</a>
	</fieldset>

	<footer th:replace="Constante/constantes :: footer"></footer>

</body>
</html>