<!DOCTYPE html>
<html>
<head>
<div th:include="Constante/constantes :: head"></div>
<title>Registro</title>
<meta charset="UTF-8">
</head>
<body>
<header th:replace="Constante/constantes :: header"></header>
 <h1>Mi perfil</h1>
	<form th:action="@{/registro}" th:object="${usuario}" method="post">
	<div>
	<label>Nombre:<input type="text" name="nombre" th:value="${session.usuario?.nombre}" th:readonly="${perfil}"></label><br>
	<label>Apellido 1:<input type="text" name="apellido" th:value="${session.usuario?.apellido1}" th:readonly="${perfil}"></label><br>
	<label>Apellido 2:<input type="text" name="apellido2" th:value="${session.usuario?.apellido2}" th:readonly="${perfil}"></label><br>
	<!-- ${(${vista})?true:false} -->
	<label>Correo electronico:<input type="text" name="email" required th:value="${session.usuario?.email}" th:readonly="${perfil}"></label><br>
	<label>Direccion:<input type="text" name="direccion" th:value="${session.usuario?.direccion}" th:readonly="${perfil}"></label><br>
	<label>Provincia:<input type="text" name="provincia" th:value="${session.usuario?.provincia}" th:readonly="${perfil}"></label><br>
	<label>Localidad:<input type="text" name="localidad" th:value="${session.usuario?.localidad}" th:readonly="${perfil}"></label><br>
	<label>Telefono:<input type="text" name="telefono" th:value="${session.usuario?.telefono}" th:readonly="${perfil}"></label><br>
	<label>DNI:<input type="text" name="dni" th:value="${session.usuario?.dni}" th:readonly="${perfil}"></label><br>
	<label>Rol:<input type="text" disabled="disabled" th:text="${session.usuario?.rol.descripcion}" th:readonly="${perfil}"></label>
	</div>
	<input type="submit" name="Actualizar" th:if="${perfil}">
	</form>
<footer th:replace="Constante/constantes :: footer"></footer>
</body>
</html>